[user]
    name = Obulpathi
    email = obulpathi@gmail.com
[core]
    editor = vim
[color]
    ui = auto
[alias]
    unadd = reset HEAD
[gitreview]
    username = obulpathi
[push]
    default = simple
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
